name: Validate Collections

on:
  workflow_dispatch:
  push:
    paths:
      - '_*/**.md'
  pull_request:
    paths:
      - '_courses*/**.md'

jobs:
  validate:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install yamale
    
    - name: Run course validation
      run: |
        python .github/workflows/validate_collections.py
